# Servidor
PORT=8080
NODE_ENV=development

# Base de datos (MongoDB Atlas)
MONGO_URL=

# Autenticación
JWT_SECRET=
JWT_EXPIRES_IN=1h
BCRYPT_SALT_ROUNDS=10

# Email (Nodemailer, SMTP). Para pruebas: Mailtrap o Ethereal
MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM="Enjoy Gym <no-reply@enjoy.com>"
