# Servidor
PORT=8080
NODE_ENV=development

# Base de datos (MongoDB Atlas)
MONGO_URL=

# Autenticación
JWT_SECRET=
JWT_EXPIRES_IN=1h
BCRYPT_SALT_ROUNDS=10

# Email (Nodemailer)
MAIL_SERVICE=
MAIL_USER=
MAIL_PASS=
